@font-face {
    font-family: 'SFD';
    src: url(/font/SanFranciscoDisplay-Black.otf);
    font-weight: 800;
}

@font-face {
    font-family: 'SFD';
    src: url(/font/SanFranciscoDisplay-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'SFD';
    src: url(/font/SanFranciscoDisplay-Heavy.otf);
    font-weight: 900;
}

@font-face {
    font-family: 'SFD';
    src: url(/font/SanFranciscoDisplay-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'SFD';
    src: url(/font/SanFranciscoDisplay-Medium.otf);
    font-weight: 600;
}

@font-face {
    font-family: 'SFD';
    src: url(/font/SanFranciscoDisplay-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'SFD';
    src: url(/font/SanFranciscoDisplay-Thin.otf);
    font-weight: 200;
}


img {
    max-width: 100%;
}

a {
    cursor: pointer;
}

body,
html {
    background: black;
    overflow-x: hidden;

}

html {
    font-family: 'SFD';
    font-size: 14px;
}

#header {
    background-image: url(image/top-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 88%;
    padding: 90px 0 0 0;
    background-color: #130e01;
    overflow: hidden;
}

#header .menu a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    padding-right: 20px;
}

#header .phone {
    color: #dab326;
    font-weight: bold;
    display: inline-block;
    font-size: 24px;
    margin: 10px 0;
}

#header .phone img {
    /* mix-blend-mode: ovee; */
}

#header .touch {
    background-repeat: no-repeat;
    /* background-image: url(image/touch.png); */
    background-position: 148px 132px;
    width: 211px;
    position: absolute;
}

#header .touch:before {
    height: 200px;
    content: '';
    top: 0px;
    width: 400px;
    position: absolute;
    left: -350px;
    background-image: url(image/machdien.png);
    mix-blend-mode: lighten;
}

.touch .triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    margin-top: 7px;
    margin-left: 5px;

}

#header .touch a {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 5px 30px;
    font-size: 14px;
    display: block;
}

#header .remote {
    position: relative;
}

#header .remote .top-light {
    position: absolute;
    top: -9px;
    mix-blend-mode: lighten;
    left: -6px;
}

#header .remote .bottom-light {
    position: absolute;
    mix-blend-mode: lighten;
    bottom: -9px;
    left: -6px;
}

#dieukhien {
    background-color: #dab326;
    background-image: url(/image/bg-line.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0 220px 0;
}

#dieukhien .remote-2 {
    max-width: 130%;
    width: 130%;
}

#gioithieu {
    padding-bottom: 90px;
    background-color: #818285;
}

.bg-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #818285;
    background-image: url(/image/bg-circle.png);
}

#quatrian {
    padding: 90px 0;
    background: #0005;
}

#footer {
    background-color: #dab326;
}

#footer a {
    color: white;
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 0 10px;
    font-weight: bold;
}

#footer .lienhe {
    display: flex;
    align-items: center;
}

.mpthuy {
    position: absolute;
    bottom: 0;
    right: 40px;
    height: 559px;
}

.mpthuy img {
    position: relative;
}

.mpthuy .bg {
    position: absolute;
    bottom: -170px;
    z-index: 0;
    right: -140px;
    width: 600px;
    max-width: 600px;
    mix-blend-mode: lighten;
}

#gioithieu h2 {
    font-weight: bold;
    color: white;
    /* margin: 0; */
    padding: 15px 25px;
    font-size: 24px;
    display: inline-block;
    background: #dab326;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#gioithieu h3 {
    font-size: 18px;
    color: #eee;
    margin-bottom: 30px;
    text-align: justify;
}

#gioithieu p {
    text-align: justify;
    font-size: 14px;
    color: #eee;

}

#thongtin h2 {
    font-weight: bold;
    color: white;
    padding: 15px 35px;
    font-size: 22px;
    display: inline-block;
    background: #dab326;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 40px;
}

#tintuc h1,
#quatrian h1 {
    font-weight: 900;
    color: #eee;
    text-transform: uppercase;
    font-size: 40px;

}

#quatrian h3 {
    font-weight: 900;
    color: #eee;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin: 20px -20px 40px;

}


#tintuc h4,
#quatrian h4 {
    font-weight: normal;
    color: #eee;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 23px;
}

#quatrian .form {
    background: #fff2;
    margin: -15px;
    padding: 20px 20px;
    border-radius: 20px;
}

#quatrian .form input {
    margin-bottom: 20px;
    height: 40px;
    border: 0;
    font-style: italic;
}

#quatrian .form input::-webkit-input-placeholder,
#quatrian .form input::placeholder,
#quatrian .form input::-moz-placeholder {
    font-style: italic;
}

#quatrian .form img {
    width: 120%;
    max-width: 120%;
    margin: 0 -10%;
    margin-bottom: -140px;
}

#quatrian .form button {
    font-weight: bold;
    color: #222;
    padding: 15px 35px;
    font-size: 18px;
    display: inline-block;
    background: #dab326;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 40px;
    display: inline-block;
    border: 0;
    cursor: pointer;

}

#quatrian .form button:hover {
    background: #b49214;
}

#quatrian .form p {
    padding: 0 10px;
    font-size: 12px;
    color: white;
    margin-bottom: 5px;
}

#tintuc {
    padding: 90px 0;
}

#footer {
    padding: 20px 0;
}

/* .slider-home .slick-dots, */
.slick-arrow {
    cursor: pointer;
}

.slider-home .slick-next.slick-arrow,
.slider-home .slick-prev.slick-arrow {
    position: absolute;
    bottom: 30px;

    background-image: url(image/chervon.png);
    background-size: contain;
    height: 30px;
    width: 30px;
    color: transparent;
    border: none;
    background-color: transparent;
    z-index: 1;

}

.slider-home .slick-prev {
    transform: rotateZ(-90deg);
    left: calc(50% - 110px);
}

.slider-home .slick-next {
    transform: rotateZ(90deg);
    left: calc(50% + 60px);
}

.slider-home .slick-dots {
    position: absolute;
    bottom: 30px;
    display: inline-block;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    left: calc(50% - 50px);
}

.slider-home .slick-dots li {
    display: inline-block;
}

.slider-home .slick-dots li button {
    height: 10px;
    width: 10px;
    margin: 10px 5px;
    font-size: 0;
    border: 0;
    background-color: #dab326;
    border-radius: 10px;
    padding: 0;
    opacity: 0.5;
}

.slider-home .slick-dots li.slick-active button {
    opacity: 1;
}

.slider-tintuc .slick-list {
    overflow: unset;
}

.slider-tintuc .slick-prev {
    position: absolute;
    top: 45%;
    z-index: 1;

    background-image: url(image/chervon.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    color: transparent;
    border: none;
    background-color: transparent;
    transform: rotateZ(-90deg)
}

.slider-tintuc .slick-next {
    position: absolute;
    top: 45%;
    z-index: 1;
    right: 0;
    background-image: url(image/chervon.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    color: transparent;
    border: none;
    background-color: transparent;
    transform: rotateZ(90deg)
}

.slick-dots li button:focus,
.slick-prev:focus,
.slick-next:focus {
    outline: 0;
}

.go-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}

#thongtin .info {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;

}

#thongtin .info h3 {
    font-weight: 900;
    color: #dbb227;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

#thongtin .info p {
    color: #eee;
    font-size: 16px;
    margin: 0;
    /* width: 80%; */
}

#thongtin .info img {
    margin-right: 24px;
}

#dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1111;
    background: #0004;
}

#dialog>div {
    max-width: 800px;
    margin: 30px auto;
    background: #555;
    overflow: auto;
    padding: 20px;
    height: calc(100vh - 60px);
}

#dialog img {
    margin-bottom: 20px;
}


@media only screen and (max-width: 600px) {
    #footer {
        text-align: center;
    }

    #footer .lienhe {
        flex-direction: column;
    }

    br {
        display: none;
    }

    #quatrian .form {
        margin: 0 20px
    }

    iframe {
        height: 300px;
    }
    #dieukhien .remote-2 {
        max-width: 100%;
        width: 100%;
        margin-top: 50px;
    }
}