@font-face {
    font-family: 'SanFranciscoDisplay';
    src: url(/font/SanFranciscoDisplay-Black.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'SanFranciscoDisplay';
    src: url(/font/SanFranciscoDisplay-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'SanFranciscoDisplay';
    src: url(/font/SanFranciscoDisplay-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'SanFranciscoDisplay';
    src: url(/font/SanFranciscoDisplay-Heavy.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'SanFranciscoDisplay';
    src: url(/font/SanFranciscoDisplay-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'SanFranciscoDisplay';
    src: url(/font/SanFranciscoDisplay-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'SanFranciscoDisplay';
    src: url(/font/SanFranciscoDisplay-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'SanFranciscoDisplay';
    src: url(/font/SanFranciscoDisplay-Thin.ttf);
    font-weight: 200;
}


@-webkit-keyframes updown {
    0% {

        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);

    }

    100% {

        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

}

@keyframes updown {
    0% {

        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);

    }

    100% {

        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.updown {
    -webkit-animation: updown 1s ease-in-out infinite;
    -moz-animation: updown 1s ease-in-out infinite;
    -ms-animation: updown 1s ease-in-out infinite;
    -o-animation: updown 1s ease-in-out infinite;
    animation: updown 1s ease-in-out infinite;
}



@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    50% {
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    100% {
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

}

@keyframes rotating {
    0% {
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    50% {
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    100% {
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}

.rotating {
    -webkit-animation: rotating 1s ease-in-out infinite;
    -moz-animation: rotating 1s ease-in-out infinite;
    -ms-animation: rotating 1s ease-in-out infinite;
    -o-animation: rotating 1s ease-in-out infinite;
    animation: rotating 1s ease-in-out infinite;
}

.semi-bold{
    font-weight: 500;
}

img {
    max-width: 100%;
}

a {
    cursor: pointer;
}

body,
html {
    background: black;
    overflow-x: hidden;

}

html * {
    font-family: 'SanFranciscoDisplay';
}

#header {
    background-image: url(image/top-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 88%;
    padding: 90px 0 0 0;
    background-color: #130e01;
    overflow: hidden;
}

#header .menu a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    padding-right: 20px;
}

#header .phone {
    color: #dab326;
    font-weight: bold;
    display: inline-block;
    font-size: 24px;
    margin: 10px 0;
}


#header .touch {
    height: 600px;
    width: 540px;
    position: relative;
}

#header .remote {
    width: 40%;
    display: inline-block;
    position: absolute;
}

#header .remote:before {
    height: 100%;
    content: '';
    top: -10%;
    width: 134%;
    position: absolute;
    left: -117%;
    background-image: url(image/machdien.png);
    mix-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: contain;
}

.touch .triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    margin-top: 7px;
    margin-left: 5px;

}


.mpthuy {
    position: absolute;
    top: 1%;
    width: 70%;
    right: 4%;
    height: 100%;
}

.mpthuy .hand {
    position: absolute;
    top: 15%;
    width: 41%;
    left: -9%;
}

.mpthuy .model {
    position: absolute;
    right: 0;
}

.mpthuy .bg {
    width: 180%;
    max-width: 180%;
    position: absolute;
    top: 31%;
    mix-blend-mode: lighten;
    right: -45%;
}

#header .touch{
    margin-top: 40px;
}
#header .touch a {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 5px 30px;
    font-size: 14px;
    display: block;
    position: absolute;
    top: -40px;
}

@keyframes around {
    0% {
        top: -11%;
        left: -14%;
    }

    25% {
        top: -11%;
        left: 84%;
    }

    50% {
        top: 84%;
        left: 84%;
    }

    75% {
        top: 84%;
        left: -14%;
    }

    100% {
        top: -11%;
        left: -14%;
    }
}

.informations {
    display: flex;
    position: relative;
}

.informations>div {
    display: flex;
    transition: linear 0.3s;
    align-items: center;
}

.informations>div:hover {
    transform: scale(1.05);
    transition: linear 0.3s;
}

.informations p {
    color: #111;
    margin-left: 20px;
    margin-right: 20px;
    width: 140px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    cursor: default;

}

#header .remote .top-light {
    position: absolute;
    top: -11%;
    left: -14%;
    mix-blend-mode: lighten;
    width: 30%;
    height: 30%;
    -webkit-animation: around 3s linear infinite;
    -moz-animation: around 3s linear infinite;
    -ms-animation: around 3s linear infinite;
    -o-animation: around 3s linear infinite;
    animation: around 3s linear infinite;
}

#header .remote .bottom-light {
    position: absolute;
    mix-blend-mode: lighten;
    top: -11%;
    left: -14%;
    width: 30%;
    height: 30%;

    -webkit-animation: around 3s linear infinite;
    -moz-animation: around 3s linear infinite;
    -ms-animation: around 3s linear infinite;
    -o-animation: around 3s linear infinite;
    animation: around 3s linear infinite;
    animation-delay: -1.5s;
}


@keyframes opacity {
    0% {
        opacity: 1;
    }


    50% {
        opacity: 0.5;
    }


    100% {
        opacity: 1;
    }
}


#dieukhien {
    padding: 120px 0 220px 0;
    background-color: #dbb227;
    position: relative;
}

#dieukhien::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/image/bg-line.png);
    height: 100%;
    width: 100%;
    top: 0;
    -webkit-animation: opacity 3s ease-in-out infinite;
    -moz-animation: opacity 3s ease-in-out infinite;
    -ms-animation: opacity 3s ease-in-out infinite;
    -o-animation: opacity 3s ease-in-out infinite;
    animation: opacity 3s ease-in-out infinite;

}

#dieukhien .remote-2 {
    max-width: 130%;
    width: 130%;
}

#gioithieu {
    padding-bottom: 90px;
    background-color: #818285;
}

.bg-content {
    background-color: #818285;
    position: relative;
}


@-webkit-keyframes clock {
    0% {
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }


}

@keyframes clock {
    0% {
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }

}

.bg-content:before {
    overflow: hidden;
    position: absolute;
    content: '';
    height: 180vw;
    width: 180vw;
    top: 0;
    left: -120vw;
    /* left: 50%; */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: #818285;
    background-image: url(/image/c.png);
    -webkit-animation: clock 90s linear infinite;
    -moz-animation: clock 90s linear infinite;
    -ms-animation: clock 90s linear infinite;
    -o-animation: clock 90s linear infinite;
    animation: clock 90s linear infinite;
    mix-blend-mode: overlay;
    opacity: 0.4;
    z-index: 0;
    pointer-events: none;
}

#quatrian {
    padding: 90px 0;
    background: #0005;
}

#footer {
    background-color: #dab326;
}

#footer a {
    color: white;
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 0 10px;
    font-weight: bold;
}

#footer .lienhe {
    display: flex;
    align-items: flex-start;
}


#gioithieu h2 {
    font-weight: bold;
    color: white;
    /* margin: 0; */
    padding: 15px 25px;
    font-size: 24px;
    display: inline-block;
    background: #dab326;
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#gioithieu h3 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    text-align: justify;
}

#gioithieu p {
    text-align: justify;
    font-size: 14px;
    color: #fff;

}

#thongtin h2 {
    font-weight: bold;
    color: white;
    padding: 15px 35px;
    font-size: 22px;
    display: inline-block;
    background: #dab326;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 40px;
}

#tintuc h1,
#quatrian h1 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;

}

#quatrian h3 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin: 20px -20px 40px;

}


#tintuc h4,
#quatrian h4 {
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 23px;
}

#quatrian .form {
    background: #fff2;
    margin: -15px;
    padding: 20px 20px;
    border-radius: 20px;
}

#quatrian .form input {
    margin-bottom: 20px;
    height: 40px;
    border: 0;
    font-style: italic;
}

#quatrian .form input::-webkit-input-placeholder,
#quatrian .form input::placeholder,
#quatrian .form input::-moz-placeholder {
    font-style: italic;
}

#quatrian .form img {
    width: 120%;
    max-width: 120%;
    margin: 0 -10%;
    margin-bottom: -140px;
}

#quatrian .form button {
    font-weight: bold;
    color: #222;
    padding: 15px 35px;
    font-size: 18px;
    display: inline-block;
    background: #dab326;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 40px;
    display: inline-block;
    border: 0;
    cursor: pointer;

}

#quatrian .form button:hover {
    background: rgb(234, 200, 80);
}

#quatrian .form p {
    padding: 0 10px;
    font-size: 12px;
    color: white;
    margin-bottom: 5px;
}

#tintuc {
    padding: 90px 0;
}

#footer {
    padding: 20px 0;
}

/* .slider-home .slick-dots, */
.slick-arrow {
    cursor: pointer;
}

.slider-home .slick-next.slick-arrow,
.slider-home .slick-prev.slick-arrow {
    position: absolute;
    bottom: 30px;

    background-image: url(image/chervon.png);
    background-size: contain;
    height: 30px;
    width: 30px;
    color: transparent;
    border: none;
    background-color: transparent;
    z-index: 1;

}

.slider-home .slick-prev {
    transform: rotateZ(-90deg);
    left: calc(50% - 110px);
}

.slider-home .slick-next {
    transform: rotateZ(90deg);
    left: calc(50% + 60px);
}

.slider-home .slick-dots {
    position: absolute;
    bottom: 30px;
    display: inline-block;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    left: calc(50% - 50px);
}

.slider-home .slick-dots li {
    display: inline-block;
}

.slider-home .slick-dots li button {
    height: 10px;
    width: 10px;
    margin: 10px 5px;
    font-size: 0;
    border: 0;
    background-color: #dab326;
    border-radius: 10px;
    padding: 0;
    opacity: 0.5;
}

.slider-home .slick-dots li.slick-active button {
    opacity: 1;
}

.slider-tintuc .slick-list {
    overflow: unset;
}

.slider-tintuc .slick-prev {
    position: absolute;
    top: 45%;
    z-index: 1;

    background-image: url(image/chervon.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    color: transparent;
    border: none;
    background-color: transparent;
    transform: rotateZ(-90deg)
}

.slider-tintuc .slick-next {
    position: absolute;
    top: 45%;
    z-index: 1;
    right: 0;
    background-image: url(image/chervon.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    color: transparent;
    border: none;
    background-color: transparent;
    transform: rotateZ(90deg)
}

.slick-dots li button:focus,
.slick-prev:focus,
.slick-next:focus {
    outline: 0;
}

.go-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}

#thongtin {
    position: relative;
}

#thongtin .info {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;

}

#thongtin .info h3 {
    font-weight: 900;
    color: #dbb227;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

#thongtin .info p {
    color: #fff;
    font-size: 16px;
    margin: 0;
    width: 80%;
}

#thongtin .info img {
    margin-right: 24px;
}


#thongtin .info.info-long p {
    margin-right: 24px;
    width: 100%;
}

#dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1111;
    background: #000a;
}

#dialog>div {
    max-width: 800px;
    margin: auto;
    background: #555;
    overflow: auto;
    height: calc(100vh - 60px);
}

#dialog img {
    /* margin-bottom: 20px; */
    width: 100%;
}

#footer .social {
    display: flex;
}

.logo {
    margin-bottom: 40px;
}

#dieukhien .remote-2 {
    position: relative;
}

#remote-1 {
    position: absolute;
    top: 61.7%;
    height: 10%;
    left: 21%;
}

#remote-2 {
    position: absolute;
    left: 37.7%;
    height: 10.1%;
    top: 61.5%;
}

#remote-3 {
    position: absolute;
    height: 10.1%;
    left: 29%;
    top: 61.7%;
}

@media only screen and (max-width: 768px) {
    #footer {
        text-align: center;
    }

    #footer .lienhe {
        flex-direction: column;
    }

    br {
        display: none;
    }

    #quatrian .form {
        margin: 0 20px
    }

    iframe {
        height: 300px;
    }

    #dieukhien .remote-2 {
        max-width: 100%;
        width: 100%;
        margin-top: 50px;
    }

    #header .menu {
        display: none;
    }

    #quatrian h3 {
        margin-top: 50px;
    }

    #header {
        padding-top: 20px;
        background-size: 130%;
    }

    #header .touch {
        height: calc(600px / 1.8);
        width: calc(540px / 1.8);
        margin-top: 50px;
        margin-left: -100px;
    }

    #header .logo {
        margin-bottom: 170px;
    }

    #header .phone {
        font-size: 18px;
    }

    #footer .social {
        align-items: center;
        justify-content: center;
    }

    .go-to-top {
        bottom: 30px;
        right: 30px;
        opacity: 0.4;
    }
    .informations{
        flex-direction: column;
    }
    .informations p{
        width: 100%;
    }
}

button:focus,
button:active{
    outline: 0!important;
}